DATABASE_URL=postgres://postgres:postgres@localhost:5432/phonologic
PORT=4000
JWT_ACCESS_SECRET=phonologic_super_secret_access_jwt_key_2026
JWT_REFRESH_SECRET=phonologic_super_secret_refresh_jwt_key_2026
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
CORS_ORIGIN=*
AZURE_SPEECH_KEY=your_azure_key_here
AZURE_SPEECH_REGION=southeastasia
